
.container{
    margin-top: 70px;
}

/* button style part */

.button-style {
    margin-top: 36px;
    margin-bottom: 23px;

}

/* button hover style  part */

.button-hover-style {

    margin: 4px;
    padding: 5px;
    border: 5px solid gray;

}

/* button style hover part */

.button-hover-style:hover {

    background-color: black;
    color: white;
    border-radius: 3px;

}
   
 /* price-checkout part */
   .price-checkout {
       margin-top: 50px;
   }